<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
      <ion-title>History</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="month-wise">
      <ion-label>Month-wise</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="item-wise">
      <ion-label>Item-wise</ion-label>
      <ion-icon name="pizza"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>