ion-toolbar{
    --background:orange;
    color:white;
}
ion-menu-button{
    color: white;
}
ion-content{
    text-align: center;
    --background: none;
}
ion-tab-bar{
    --ion-color-primary:orange;
}