ion-content{
    text-align: center;
    --background: none;
}
ion-card{
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    --background: white;
    border-top: 2px solid orange;
}
.date{
    font-size: 14px;
    color: green;
}
.itemmenu{
    color:#b25414;
    font-size: 15px;
    --background:#f2f2f2;
}
