.headitem{
    --background: orange;
    --color: white;
    font-size: 22px;
    font-weight: 200;
}
ion-icon{
    margin-right: 15px;
    color: white;
}
ion-item {
    --border-color:burlywood;
    --highlight-color-focused:orange;
    --highlight-color-valid:orange;
    --highlight-color-invalid:orange;
}