<ion-content>
  <ion-item lines="full" class="headitem">
    <ion-icon name="construct"></ion-icon>
    <ion-label class="head" text-wrap>Change Password</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label text-wrap>It is mandatory to change your password the first time.<br>(At least 8 characters)</ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Enter new password:</ion-label>
    <ion-input [(ngModel)]="pswrd" (ionChange)="inputChanged()" type="text"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button *ngIf="sufficientLength" expand="full" fill="solid" color="warning" (click)="changePassword()">
    Change
  </ion-button>
</ion-footer>
