<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SASTRA Mess
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="head">
  <ion-icon class="profileicon" size="large" name="person"></ion-icon>
  <p class="profile">Shrihari<br>120004213</p>
  <ion-icon class="messicon" size="large" name="pizza"></ion-icon>
  <p class="messicon">Leaf & Agro<br>Mega Hostel Mess</p>
  <div class="clear"></div>
</div>

<ion-content>
  
  <ion-list lines="inset">
    <ion-card>
      <ion-card-content>
    <ion-item class="carditem" lines="none">
        <ion-label><p class="listhead">What's cooking today?<br></p>
          <p class="date">Tuesday      12 Feb 2019</p>
        </ion-label>
    </ion-item>
    </ion-card-content>
    </ion-card>

    <ion-item lines="none" *ngFor="let entry of menu" class="itemparent">
    <ion-item class="{{entry.tag}}" lines="none">
        <ion-icon class="tagicon" name="{{entry.icon}}"></ion-icon>
    </ion-item>
      <ion-item class="itemmenu">
        <div class="{{entry.tag}}ico"></div>
        <ion-label>{{entry.val}}</ion-label>
        <ion-button class="codebutton" color="{{entry.color}}" disabled="{{!entry.isChecked}}" (click)="showCode()">Code</ion-button>
        <!--Button is disabled only after update in actual app-->
      </ion-item>
    </ion-item>
  </ion-list>

  <ion-list lines="inset">
    <ion-card>
      <ion-card-content>
      <ion-item class="carditem" lines="none">
          <ion-label><p class="listhead">What's on the menu tomorrow?<br></p>
            <p class="date">Wednesday       13 Feb 2019</p>
          </ion-label>
      </ion-item>
    </ion-card-content>
    </ion-card>
      <ion-item lines="none" *ngFor="let entry of menu" class="itemparent">
      <ion-item class="{{entry.tag}}" lines="none">
          <ion-icon class="tagicon" name="{{entry.icon}}"></ion-icon>
      </ion-item>
        <ion-item class="itemmenu">
          <div class="{{entry.tag}}ico"></div>
          <ion-label>{{entry.val}}</ion-label>
          <ion-note class="{{entry.tag}}note">{{entry.note}}</ion-note>
          <ion-checkbox color="{{entry.color}}" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-item>
    </ion-list>
  <div class="transparent">
  <ion-button class="updatebutton" color="warning" fill="solid" (click)="updateNote()">
      <ion-ripple-effect></ion-ripple-effect>
        Update Order
  </ion-button>
  </div>

</ion-content>
