ion-toolbar{
    --background:orange;
    color:white;
}
ion-menu-button{
    color: white;
}
ion-content{
    text-align: center;
    --background: #fff url('../../assets/images/expanded.png') no-repeat center center / cover;
}
.head{
    background: rgb(172, 94, 0);
    height: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 2px 2px gray, 
        -2px 2px 5px gray, 2px 2px 5px gray;
}
.profileicon{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
.profile{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.messicon{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

br{
    line-height:25px;
}
ion-list{
    margin:0 10%;
    background: none;
}
ion-card{
    margin-left: 0.5%;
    width: 99%;
    --background:rgb(255,255,255,0.7);
    border-top: 2px solid orange;
}
ion-card-content{
    padding-left:0%;
    padding-block-start: 1%;
    padding-block-end: 1%;
}
.carditem{
    --background: none;
}
.listhead{
    background: none;
    font-size: 17px;
    color:darkorange;
}
.date{
    font-size: 14px;
    color: green;
}
.itemparent{
    --background:#f2f2f2;
    --padding-start:0%;
    --inner-padding-end:3%;
}
.itemtag{
    --color: white;
    --background: #70ad47;
    --border-style: solid;
    --border-color:#507e32;
    --border-width:2.5px;
    --border-radius: 5px;
    width: 22px;
}
.itemtag2{
    --color: white;
    --background: #5b9bd5;
    --border-style: solid;
    --border-color:#41719c;
    --border-width:2.5px;
    --border-radius: 5px;
    width: 22px;
}
.itemtag3{
    --color: white;
    --background: #ed7d31;
    --border-style: solid;
    --border-color:#ae5a21;
    --border-width:2.5px;
    --border-radius: 5px;
    width: 22px;
}
.tagicon{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    color: white;
}
.itemmenu{
    color:#b25414;
    --border-color:#bf9000;
    font-size: 15px;
    width: 100%;
    --background:#f2f2f2;
    --padding-start:0%;
}
.itemtagico{
    width: 40px;
    height: 40px;
    background: #f2f2f2 url('../../assets/images/dosa.png') no-repeat center center / cover;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.itemtag2ico{
    width: 40px;
    height: 40px;
    background: #f2f2f2 url('../../assets/images/noodle.png') no-repeat center center / cover;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.itemtag3ico{
    width: 40px;
    height: 40px;
    background: #f2f2f2 url('../../assets/images/rice.png') no-repeat center center / cover;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.itemtagnote{
    position: absolute;
    top: 40%;
    right:40px;
    font-size: 11px;
    --color:#507e32;
}
.itemtag2note{
    position: absolute;
    top: 40%;
    right:40px;
    font-size: 11px;
    --color:#41719c;
}
.itemtag3note{
    position: absolute;
    top: 40%;
    right:40px;
    font-size: 11px;
    --color:#ae5a21;
}
ion-checkbox{
    position: absolute;
    top: 0%;
    right:0px;
}
.codebutton{
    position: absolute;
    top: 12%;
    right: 7px;
    font-size: 11px;
}
ion-footer{
    text-align: center;
}
.transparent{
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 65px;
    margin-inline-start: 20%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.updatebutton{
    margin-top: 15px;
}