<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SASTRA Mess
    </ion-title>
  </ion-toolbar>

  <div class="head">
    <ion-icon class="profileicon" size="large" name="person"></ion-icon>
    <p class="profile" (click)="changeNickname()">{{user.username}}<br class="headbr">{{user.regnum}}</p>
    <ion-icon class="messicon" size="large" name="pizza"></ion-icon>
    <p class="messname">{{user.contractor}}<br class="headbr">{{user.messname}}</p>
  </div>
    
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-card class="card1margin">
      <ion-card-content>
    <ion-item class="carditem" lines="none">
        <ion-label text-wrap><p class="listhead">What's cooking today?<br class="cardbr"></p>
          <p class="date">{{todayDate}}</p>
        </ion-label>
    </ion-item>
    </ion-card-content>
    </ion-card>

    <ng-container *ngFor="let entry of oldmenu">
    <ion-item class="itemparent" lines="none" *ngIf="entry.val">
    <div class="itemborder"></div>
    <ion-item class="itemtag {{entry.tag}}" lines="none">
        <ion-icon class="tagicon" name="{{entry.icon}}"></ion-icon>
    </ion-item>
    
      <ion-item class="itemmenu" lines="none">
        <div class="icosize loading" *ngIf="animating"></div>
        <div class="icosize {{entry.tagico}}ico" *ngIf="!animating"></div>
        <div class="itemname">
          <ion-label *ngIf="animating"><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></ion-label>
          <ion-label text-wrap *ngIf="!animating">{{entry.val}}</ion-label>
        </div>
        <ion-button class="codebutton" color="{{entry.color}}" disabled="{{entry.code=='null'}}" (click)="showCode(entry.val)">Code</ion-button>
      </ion-item>
    </ion-item>
    </ng-container>
  </ion-list>

  <ion-list lines="none">
    <ion-card class="card2margin">
      <ion-card-content>
      <ion-item class="carditem" lines="none">
          <ion-label text-wrap><p class="listhead">What's on the menu tomorrow?<br class="cardbr"></p>
            <p class="date">{{tmrwDate}}</p>
            <p *ngIf="!updateButtonPulled" class="closetime">Orders close at 11:00pm</p>
            <p *ngIf="updateButtonPulled" class="closetime">Orders closed<br>App updates at 12:00am</p>
          </ion-label>
      </ion-item>
      </ion-card-content>
    </ion-card>
      <ng-container *ngFor="let entry of menu">
      <ion-item class="itemparent" lines="none" *ngIf="entry.val">
      <div class="itemborder"></div>
      <ion-item class="itemtag {{entry.tag}}" lines="none">
          <ion-icon class="tagicon" name="{{entry.icon}}"></ion-icon>
      </ion-item>
        <ion-item class="itemmenu">
          <div class="icosize loading" *ngIf="animating"></div>
          <div class="icosize {{entry.tagico}}ico" *ngIf="!animating"></div>
          <div class="itemname">
            <ion-label *ngIf="animating"><ion-skeleton-text animated style="width: 90%"></ion-skeleton-text></ion-label>
            <ion-label text-wrap *ngIf="!animating">{{entry.val}}</ion-label>
          </div>         
          <div><ion-label class="price {{entry.tag}}label">Rs.{{entry.price}}</ion-label></div>
          <ion-badge *ngIf="!(entry.isChecked&&!disablekey)" color="medium">0</ion-badge>
          <ion-badge *ngIf="entry.isChecked&&!disablekey" color="{{entry.color}}" (click)="showOnesPicker(entry.val,entry.quantity)">{{entry.quantity}}</ion-badge>
          <div id="check{{entry.val}}" class="checkcover" (click)="toggleChecked(entry.val)">
            <ion-checkbox *ngIf="!entry.isChecked||disablekey" color="{{entry.color}}" [checked]="entry.isChecked" [disabled]=disablekey></ion-checkbox>
            <ion-icon class="cancelicon" color="{{entry.color}}" name="close-circle"></ion-icon>
          </div>
        </ion-item>
        <ion-icon *ngIf="entry.quantity!=entry.oldquantity" class="excmark" color="danger" name="alert" (click)="showNotUpdated()"></ion-icon>
      </ion-item>
      </ng-container>
    </ion-list>
</ion-content>

<ion-footer no-border>
  <div class="transparent">
    <ion-button class="updatebutton" color="warning" fill="solid" (click)="updateOrder()">
        <ion-ripple-effect></ion-ripple-effect>
          Update Order
    </ion-button>
  </div>
</ion-footer>