ion-toolbar{
    --background:orange;
    color:white;
}
ion-menu-button{
    color: white;
}
ion-content{
    text-align: center;
    --background: none;
}
.head{
    background: rgb(172, 94, 0);
    height: 60px;
    margin-top: -65px;
    font-size: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 2px 2px gray, -2px 2px 5px gray, 2px 2px 5px gray;
}
.headbr{
    line-height: 21px;
}
.profileicon{
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
.profile{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.messname{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.messicon{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}
.cardbr{
    line-height:25px;
}
ion-list{
    padding:0 10%;
    background: none;
}
ion-card{
    width: 99%;
    --background:rgb(255,255,255,0.7);
    border-top: 2px solid rgb(255, 165, 0);
}
.card1margin{
    margin-left: -120%;
}
.card2margin{
    margin-left: 120%;
}
ion-card-content{
    padding-left:0%;
    padding-block-start: 1%;
    padding-block-end: 1%;
}
.carditem{
    --background: none;
}
.listhead{
    background: none;
    font-size: 17px;
    color:rgb(255, 140, 0);
}
.date{
    font-size: 14px;
    color: green;
}
.closetime{
    font-size: 14px;
}
.itemparent{
    float: right;
    --background:#f2f2f2;
    --padding-start:0%;
    --inner-padding-start:0%;
    --inner-padding-end:0%;
    width: 0%;
}
.itemborder{
    width: 94%;
    height: 1px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #bf9000;
}
.itemtag{
    --border-style: solid;
    --border-width:2.5px;
    --border-radius: 5px;
    --padding-start:0px;
    --inner-padding-end:0px;
    width: 22px;
}
.tag{
    --background: #70ad47;
    --border-color:#507e32;
}
.tag2{
    --background: #5b9bd5;
    --border-color:#41719c;
}
.tag3{
    --background: #ed7d31;
    --border-color:#ae5a21;
}
.tagicon{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    color: white;
}
.itemmenu{
    color:#b25414;
    font-size: 15px;
    width: 100%;
    --background:#f2f2f2;
    --padding-start:0%;
}
.icosize{
    width: 40px;
    height: 40px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.loading{
    background: #cacaca;
}
.dosaico{
    background: #f2f2f2 url('../../assets/images/dosa.png') no-repeat center center / cover;
}
.noodleico{
    background: #f2f2f2 url('../../assets/images/noodle.png') no-repeat center center / cover;
}
.riceico{
    background: #f2f2f2 url('../../assets/images/rice.png') no-repeat center center / cover;
}
.flakeico{
    background: #f2f2f2 url('../../assets/images/cornsmall.png') no-repeat center center / cover;
}
.sandwichico{
    background: #f2f2f2 url('../../assets/images/sandwich.png') no-repeat center center / cover;
}
.friesico{
    background: #f2f2f2 url('../../assets/images/ffries.png') no-repeat center center / cover;
}
.chillyico{
    background: #f2f2f2 url('../../assets/images/cpaneer.png') no-repeat center center / cover;
}
.clocheico{
    background: #f2f2f2 url('../../assets/images/cloche.png') no-repeat center center / cover;
}
.itemname{
    width: 40%;
    --background: none;
}
.price{
    position: absolute;
    top:32%;
    right:70px;
    font-size: 12px;
    text-align: center;
}
.taglabel{
    --color:#507e32;
}
.tag2label{
    --color:#41719c;
}
.tag3label{
    --color:#ae5a21;
}
ion-badge{
    position: absolute;
    top: 27%;
    right:40px;
}
.checkcover{
    height: 100%;
    width:30px;
    position: absolute;
    top: 0px;
    right:0px;
}
ion-checkbox{
    margin-top: 45%;
    margin-left: auto;
    margin-right: auto;
}
.codebutton{
    position: absolute;
    top: 12%;
    right: 7px;
    font-size: 11px;
}
ion-footer{
    text-align: center;
}
.transparent{
    background: rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 65px;
    margin-inline-start: 20%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.updatebutton{
    margin-top: 15px;
}