<ion-content>
  <ion-item lines="full" class="headitem">
    <ion-icon class="signupicon" name="person-add"></ion-icon>
    <ion-label class="head" text-wrap>Sign Up</ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Register Number:<br>
    </ion-label>
    <ion-input [(ngModel)]="regnum" (ionChange)="regnumInputChanged()" type="number"></ion-input>
    <ion-spinner *ngIf="regnumValid==0" name="crescent"></ion-spinner>
    <ion-icon *ngIf="regnumValid==-1&&regnum" color ="danger" name="close-circle"></ion-icon>
    <ion-icon *ngIf="regnumValid==1" color ="success" name="checkmark-circle"></ion-icon>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Enter password:<br><p *ngIf="!sufficientLength&&pswrd">Min 8 characters</p></ion-label>
    <ion-input [(ngModel)]="pswrd" (ionChange)="pswrdInputChanged()" type="{{inputType}}"></ion-input>
    <ion-icon *ngIf="pswrd" name="{{eyeIcon}}" color="dark" (click)="changeInputType()"></ion-icon>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button *ngIf="regnumValid==1&&sufficientLength" fill="solid" color="warning" (click)="signUp()">
    Sign Up
  </ion-button>
  <ion-button class="cancelbutton" fill="solid" color="dark" (click)="cancel()">
    Cancel
  </ion-button>
</ion-footer>
