ion-toolbar{
    --background:orange;
    color:white;
}

ion-content{
    text-align: center;
    --background: #fff url('../../assets/images/expanded.png') no-repeat center center / cover;
}
ion-card{
    width: 80%;
    background: white;
    margin-left: 10%;
    margin-top: 22%;
    border-top: 2px solid orange;
}
ion-list{
    margin-bottom: 15%;
}
ion-item {
    --border-color:burlywood;
    --highlight-color-focused:orange;
}
.firstitem{
    margin-top: -7%;
}