<ion-header>
  <ion-toolbar>
    <ion-title>
      Yum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Log In
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
            <ion-label color="dark" position="floating">Registration Number</ion-label>
            <ion-input [(ngModel)]="regnum" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="pswrd" type="{{inputType}}" clearOnEdit=false></ion-input>
            <ion-icon class="eyeicon" slot="end" *ngIf="pswrd" name="{{eyeIcon}}" color="dark" (click)="changeInputType()"></ion-icon>
        </ion-item>
        <ion-item class="lastitem" lines="none">
          <div>
            <ion-chip class="forgot" color="danger">
                <ion-icon class="forgoticon" name="help-circle" (click)="onForgotClicked()"></ion-icon>
                <p class="forgotlabel" (click)="forgotPswrd()">Forgot password</p>
            </ion-chip>
            <ion-chip class="signup" color="success">
                <p class="signuplabel" (click)="signUp()">Sign Up</p>
                <ion-icon class="signupicon" name="person-add" (click)="onSignupClicked()"></ion-icon>
            </ion-chip>
          </div>
        </ion-item>
     </ion-list>
    <ion-button color="warning" fill="solid" disabled={{loginButtonStatus}} (click)="onClickLogin()">
      <ion-ripple-effect></ion-ripple-effect>
        Log In
    </ion-button>
  </ion-card-content>
  </ion-card>
</ion-content>
