ion-content{
    text-align: center;
    --background: none;
}
ion-card{
    width: 80%;
    background: white;
    margin-left: 10%;
    margin-top: 22%;
    border-top: 2px solid orange;
}
ion-list{
    margin-bottom: 15%;
}
ion-item {
    --border-color:burlywood;
    --highlight-color-focused:orange;
    --highlight-color-valid:orange;
    --highlight-color-invalid:orange;
}
.eyeicon{
    margin-top: 30px;
}
.lastitem{
    --padding-start:0px;
    --inner-padding-end:0px;
}
div{
    width: 100%;
    margin-top: 20px;
}
.forgot{
    float: left;
}
.forgoticon{
    margin: 0px;
}
.forgotlabel{
    margin-top: 3px;
    font-size: 0px;
}
.signup{
    float: right;
}
.signupicon{
    margin: 0px;
}
.signuplabel{
    margin-top: 3px;
    font-size: 0px;
}