ion-toolbar{
    --background:orange;
    color:white;
}
ion-menu-button{
    color: white;
}
ion-content{
    text-align: center;
    --background: none;
}
ion-card{
    width: 80%;
    background: white;
    margin-left: 10%;
    margin-top: 22%;
    border-top: 2px solid orange;
}
ion-list{
    margin-bottom: 15%;
}
ion-item {
    --border-color:burlywood;
    --highlight-color-focused:orange;
    --highlight-color-valid:orange;
    --highlight-color-invalid:orange;
}
.firstitem{
    margin-top: -7%;
}