<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wrapper">
    <ion-list>
        <ion-item>
            <ion-label position="floating" color="primary">Registration Number</ion-label>
            <ion-input class = "inputfield"name="regno" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating" color="primary">Name</ion-label>
            <ion-input class = "inputfield" name="name" required></ion-input>
        </ion-item>
    </ion-list>

    <ion-button class="login" onclick="login()" fill="solid">
        <ion-ripple-effect></ion-ripple-effect>
        Log In
    </ion-button>
</ion-content>
