ion-toolbar{
    --background:orange;
    color:white;
}
ion-back-button{
    --icon-margin-end:0px;
    --icon-padding-end:0px;
    --margin-end-:0px;
    --padding-end:0px;
    --icon-margin-start:0px;
    --icon-padding-start:0px;
    --margin-start-:0px;
    --padding-start:0px;
}